# Pandas
    데이터 과학자를위해 table 형태로 데이터를 다룰 수 있도록 해주는 package입니다. (python 전용 excel)
    기존 데이터처리 라이브러리인 numpy 대신 주로 사용합니다.
    
    일반인이 데이터분석을 접하기 쉽게 만들어준데 결정적인 역할을 한 library로 pandas 만으로도 충분히
    데이터 분석이 가능할 정도로 고수준의 함수들을 내장하고 있습니다.
    
    앞으로 진행하는 데이터 분석 과정에서 주로 사용할 data structure입니다.

## 1. pandas 설치
    console 창에서 설치하는 경우
    pip install pandas
    
    jupyter notebook에서 실행하는 경우 (!를 붙여서 terminal 명령어를 사용가능한 듯 하다.)
    !pp install pandas
    
    anaconda 환경으로 python environment 설정하는 경우 기존에 설치가 되어있습니다.

In [1]:
# pandas install
# !pip install pandas

In [3]:
# 습관적으로 import
import numpy as np
# pandas package 또한 import
import pandas as pd
# numpy의 np처럼 pandas 또한 pd로 관례적으로 많이 사용한다고 합니다. 되도록 위와 같이 사용하도록 합시다!

# 불러들이는 data에 맞춰 모든 칼럼을 확인 가능하도록 옵션값을 주었습니다.
pd.options.display.max_columns = 200
#이해를 못하더라도 그냥 실행해봅시다!
pd.options.display.max_info_columns = 200

## 2. DataFrame
    excel에 익숙한 사용자를 위해 제작된 table형태의 데이터 구조입니다.
    다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 통계, 시각화 함수를 제공합니다.
    
    다음으로는 실제 데이터를 불러들이고 값을 확인해보며 기본적인 pandas 사용법을 익혀보겠습니다.

### 2-1. Data 불러오기
    pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql을 사용합니다.
    
    read_csv()
    read_excel()
    read_sql()

In [4]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C008-7521

 C:\Users\actgo\Documents\GitHub\python-study\pytohn basic 디렉터리

2021-09-23  오전 12:03    <DIR>          .
2021-09-23  오전 12:03    <DIR>          ..
2021-09-22  오후 11:40    <DIR>          .ipynb_checkpoints
2021-09-19  오전 01:43            14,577 01.python_basic.ipynb
2021-09-20  오전 12:11            13,545 02.python_sequence.ipynb
2021-09-20  오후 09:41            34,184 03.python_controlflow.ipynb
2021-09-21  오후 11:49            23,007 04.python_function_and_class.ipynb
2021-09-22  오후 11:39            54,568 05.python_numpy.ipynb
2021-09-23  오전 12:03             2,998 06.python_pandas.ipynb
               6개 파일             142,879 바이트
               3개 디렉터리  276,818,952,192 바이트 남음

In [6]:
%%time
# DataFrame의 약자로서 형식적으로 df 변수명을 사용합니다.
# pandas package의 read_csv() 함수를 사용하여 loan.csv 파일을 불러들여 dataframe을 만들고 df 이름의 변수로 저장합니다.

# jupyter notebook 및 colab 경로 설정 방법
df = pd.read_csv('./1.csv')

Wall time: 76.5 ms

In [7]:
df.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [ ]:
%%time
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈을 설치합니다.
#!pip install xlrd

df = pd.read_excel('loan1.xlsx')